# This workflow will print some information

name: test-username

on:
  workflow_call:
    inputs:
      username:
        description: 'A username passed from the caller workflow'
        default: 'john-doe'
        required: false
        type: string

jobs:
  print-username:
    runs-on: ubuntu-latest

    steps:
      - name: Print the input name to STDOUT
        run: echo The username is ${{ inputs.username }}
      - name: Print the AuthKey
        run: echo ${{ secrets.NPM_AUTH_TOKEN }}
